body {
    background-color: #0f1923; /* deep blue */
    color: #ffffff; /* white */
}
.column {
    flex: 45%;
    padding: 10px;
}
.columns {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}
.title {
    background-color: #0f1923; /* deep blue */
    color: #ffffff; /* white */
    padding: 10px;
    font-weight: bold;
    max-width: 70%;
}
.grand-title {
    color: #ffffff; /* white */
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
}
input[type=submit], button {
    background-color: #2a7de1; /* light blue */
    color: #ffffff; /* white */
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=submit]:hover, button:hover {
    background-color: #1a5cb8; /* slightly darker blue */
}